<div>
  <ng-container *ngFor="let kitten of newKittenList; let i = index">
    <div
      (mouseover)="showKittenInfo(kitten)"
      (mouseout)="hideKittenInfo()"
      class="card"
    >
      <p class="catName">{{ kitten.name }}</p>
      <!-- Affichage de l'image du chaton -->
      <img class="catImg" src="{{ kitten.img }}" alt="{{ kitten.name }}" />
      <!-- Container pour afficher les informations du chaton au survol -->
      <div class="infos-container" *ngIf="showInfo">
        <p>{{ kitten.name }}</p>
        <p>{{ kitten.race }}</p>
        <p>{{ kitten.birthday | date : "MM/dd/yyyy" }}</p>
      </div>
    </div>
    <button (click)="adoptKitten(kitten)">Adoptez</button>
  </ng-container>
</div>
<app-create-kitten
  (sendKittenToParent)="onReceiveNewKitten($event)"
></app-create-kitten>
<app-user-kitten [adoptedKitten]="adoptedKitten"></app-user-kitten>
